<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgr.wonderful"
    android:versionCode="5"
    android:versionName="0.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    <!-- normal permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用打开网络套接口 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Push SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" />
    <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- UIL框架所需的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 通知震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- baidumap 所需的权限 -start -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- baidumap 所需的权限 -end -->
    <!-- bmob permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用打开网络套接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用访问网络上的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.bmob.im.demo.CustomApplcation"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xgr.wonderful.view.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgr.wonderful.view.RegisterAndLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="cn.smssdk.SMSSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.xgr.wonderful.view.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.ShopActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.ShopAllActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.SecondTradeActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.ShopItemActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.OrderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.OrderInfoActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.WsqActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.FinderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.AwardActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.MineActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.MineInfoActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.MineInfoEditActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.MineSoftActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.FeedBackActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.NewsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.Activity_Circle"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.TableActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.LocationSourceActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.SnowActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.WindyActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.WindmillActivity"
            android:label="@string/app_name" />
        <!-- 讲座 -->
        <activity
            android:name="com.xgr.wonderful.view.BXTActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.xgr.wonderful.view.BXTNewsActivity"
            android:label="@string/app_name" />
        <!-- 关于 -->
        <activity
            android:name="com.xgr.wonderful.view.AboutActivity"
            android:label="@string/app_name" />
        <!-- 签到 -->
        <activity
            android:name="com.xgr.wonderful.view.AttendanceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".electric.ElectricActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 第一次使用 -->
        <activity
            android:name=".firstuse.WelcomeA"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firstuse.WhatsnewPagesA"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firstuse.WhatsnewAnimationA"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bmob.im.demo.ui.ImMainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.bmob.im.demo.ui.LocationActivity" />
        <activity android:name="com.bmob.im.demo.ui.BlackListActivity" />
        <activity android:name="com.bmob.im.demo.ui.ImageBrowserActivity" />
        <activity
            android:name="com.bmob.im.demo.ui.AddFriendActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.bmob.im.demo.ui.NewFriendActivity" />
        <activity android:name="com.bmob.im.demo.ui.NearPeopleActivity" />
        <activity android:name="com.bmob.im.demo.ui.UpdateInfoActivity" />
        <activity
            android:name="com.bmob.im.demo.ui.ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.bmob.im.demo.ui.SetMyInfoActivity" />

        <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rqY2thKucG0ymdLv0fYtGfEg" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- IM聊天所需的Push start -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" >

                <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.bmob.im.demo.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- IM聊天所需的Push end -->


        <!-- 启动定时检测操作 -->
        <service android:name="cn.bmob.im.poll.BmobPollService" >
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xgr.wonderful.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.xgr.wonderful.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xgr.wonderful.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="545e1702fd98c5250e00035f" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9d70d1a8a77b96c46ca70b7fe585bbbd" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-data>

        <!-- 设置SUS功能的提示界面Activity -->
        <activity
            android:name="com.lenovo.lps.sus.control.SUSPromptActivity"
            android:theme="@*android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.lenovo.lps.sus.control.SUSCustdefNotificationActivity"
            android:theme="@*android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lps.sus.control.SUSNotificationActivity"
            android:theme="@*android:style/Theme.Translucent" >
        </activity>
    </application>

</manifest>